HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

# Environment variables and secrets
.env
.env.local
.env.*.local
.env.local.ps1


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
auth-service/SWAGGER_SETUP.md

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
*.env.example
*.env
*.json
*.bat
*.md
